<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="center center">

    <!-- <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img width="160" src="assets/images/logo.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bem Vindo ao Sistema Financeiro!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>

    </div> -->

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <mat-card id="forgot-password-form">

            <div class="logo">
                <img width="200" src="assets/images/logo.png">
            </div>

            <div class="title">RECUPERE SUA SENHA</div>

            <form [formGroup]="form">
                <app-input-email [formGroup]="form" formcontrolname="email"></app-input-email>

                <button mat-raised-button (click)="verifyEmail()" class="submit-button" color="primary"
                    aria-label="ENVIAR" [disabled]="form.invalid">
                    ENVIAR
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Voltar para o Login</a>
            </div>

        </mat-card>
    </div>
</div>