<mat-form-field [formGroup]="formGroup" [appearance]="appearance ? appearance : appearance$ | async" fxFlex="100">

    <mat-label>{{ label }}</mat-label>
    
    <input matInput [placeholder]="placeholder" [matAutocomplete]="auto" [formControlName]="formcontrolname"
        autocomplete="off">

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredData | async" [value]="item[valueField]">
            <img *ngIf="item[imageField]" class="option-img" aria-hidden [src]="item[imageField]" height="25">
            <span>{{ item[displayField] }}</span>
        </mat-option>
    </mat-autocomplete>

    <mat-error>
        <app-errors [formcontrolname]="formcontrolname" [formGroup]="formGroup"></app-errors>
    </mat-error>

</mat-form-field>