<div fxFlex fxLayout="column">
  <app-header
    [operation]="operation"
    [title]="title"
    [icon]="icon"
    [backPage]="true"
    [btn]="'Salvar'"
    [btnDisabled]="form.invalid || !form.dirty ? true : false"
    (btnClick)="onSave()"
  >
  </app-header>

  <mat-card fxFlex fxLayout="column" class="content-page-form">
    <app-input-select
      fxFlex
      [appearance]="'outline'"
      [formGroup]="form"
      formcontrolname="tipoMovimentacao"
      label="Tipo de movimentação"
      [data]="(movementTypes$ | async)?.data"
      valueField="id"
      displayField="descricao"
      searchField="descricao"
    ></app-input-select>

    <app-input-currency
      fxFlex
      [formGroup]="form"
      formcontrolname="total"
      [label]="'Valor da ' + movementTypeParams.title"
      appearance="outline"
    ></app-input-currency>

    <app-input-datepicker
      fxFlex
      [formGroup]="form"
      [clearOption]="false"
      formcontrolname="dtConta"
      label="Selecione a data"
      appearance="outline"
    >
    </app-input-datepicker>

    <app-input-text
      fxFlex="80"
      [formGroup]="form"
      formcontrolname="descricao"
      label="Descrição"
      maxLength="150"
      autocomplete="off"
    >
    </app-input-text>

    <app-input-select
      fxFlex
      [appearance]="'outline'"
      [formGroup]="form"
      formcontrolname="categoria"
      label="Selecione uma categoria"
      [data]="(categories$ | async)?.data"
      valueField="id"
      displayField="descricao"
      searchField="descricao"
    ></app-input-select>

    <app-input-datepicker
      fxFlex
      [formGroup]="form"
      [clearOption]="false"
      formcontrolname="dtLembrete"
      label="Selecione a data de lembrete"
      appearance="outline"
      [min]="dtHoje"
    >
    </app-input-datepicker>

    <app-input-number
      fxFlex
      [formGroup]="form"
      formcontrolname="repetir"
      label="Repetir lançamento de conta para os próximos meses (Informe a quantidade de vezes):"
      [min]="0"
    >
    </app-input-number>

    <div fxLayoutGap="30px">
      <app-input-toggle
        [formGroup]="form"
        formcontrolname="concluido"
        [label]="movementTypeParams.statusAccount"
      ></app-input-toggle>

      <app-input-toggle
        fxFlex
        [formGroup]="form"
        formcontrolname="contaFixa"
        [label]="movementTypeParams.fixedAccount"
      >
      </app-input-toggle>
    </div>
  </mat-card>
</div>
