.style-dark {
  @include angular-material-theme($dark-theme);

  // Foreground
  --background-app-bar: #{map-get(map-get($dark-theme, background), app-bar)};

  // Background
  --footer-background: var(--background-card);
  --navigation-background: #{map-get(map-get($dark-theme, background), card)};
  --toolbar-background: #{map-get(map-get($dark-theme, background), card)};
  --background-base: #{map-get(map-get($dark-theme, background), background)};

  // Colors
  --background-card: #{map-get(map-get($dark-theme, background), card)};
  --footer-color: var(--text-color);
  --navigation-color: var(--text-color);
  --text-color: #{$light-primary-text};
  --toolbar-color: #{$light-primary-text};
  --text-color-light: #{$dark-primary-text};

  // Toolbar
  --foreground-divider: #{map-get(map-get($dark-theme, foreground), divider)};
  --text-hint: #{$light-disabled-text};

  // Navigation
  --text-hint-light: #{$dark-disabled-text};
  --background-hover: #{map-get(map-get($dark-theme, background), hover)};

  // Secondary Toolbar
  --text-secondary: #{$light-secondary-text};

  // Footer
  --text-secondary-light: #{$dark-secondary-text};
  --secondary-toolbar-background: var(--background-card);
  
  // NGX Charts
  [ngx-charts-axis-label] text,
  .tick text {
      fill: rgba(white, 0.5);
  }
  .gridline-path {
      &.gridline-path-horizontal,
      &.gridline-path-vertical {
          stroke: rgba(white, 0.06);
      }
  }
  .legend-title-text {
      color: rgba(white, 0.5);
  }

}
