@import "src/app/shared/@decorators/scss/breakpoints";

.empty-list {
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: grey;
  align-items: center;
  min-height: 300px;
}

.title {
    margin-bottom: 0px !important;
    padding-right: 1.5rem !important;
    font-size: 20px !important;
}

.input-search {
  height: 40px;
  width: 250px;
  min-width: 110px;
  border-radius: 9999px;
  border-width: 0px;
  outline: 0;
  margin-left: 10px;
}

.card {
  border-radius: .25rem;
}

.bg-app-bar {
  color: black !important;
  background-color: #ebebee;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  @include media-breakpoint('xs') {
    padding-left: 0.5rem;
    padding-right: 0.5rem;  
  }
}

.btn-table {
  margin-left: 10px;
  margin-right: 10px;
}

.input-card {
  background-color: white !important;
  padding-left: 1rem;
  border-radius: 40px;
}

.sticky {
  position: sticky;
}

.overflow {
  display: block; 
  overflow: auto;
  
  .table-responsiveness {
    width: 100%;
    overflow-x: auto;
    display: table;
  }
}


.border {
  border-width: 1px;
}

.right-align {
  text-align: right;
}

.footer-paginator {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0 !important;
}

::ng-deep .mat-menu-panel {
  min-width: 112px !important;
  max-width: 280px !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  border-radius: 4px !important;
  outline: 0 !important;
  min-height: 64px !important;
  max-height: 250px !important;
}