<div>

  <div class="card overflow-auto -mt-16 mat-elevation-z3">
    <div class="bg-app-bar sticky" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title" fxFlex="none" fxHide.xs>
        <span *ngIf="selection.isEmpty()">{{ title }}</span>
        <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
          <span *ngIf="selection.selected.length <= 1">{{ 'COMMON.REGISTER' | lowercase }}</span>
          <span *ngIf="selection.selected.length > 1">{{ 'COMMON.REGISTERS' | lowercase }}</span>
          {{ 'COMMON.SELECTED' | lowercase }}
        </span>
      </h2>

      <div *ngIf="selection.hasValue()" fxFlex="none">
        <button *ngFor="let button of config.options?.selectionButtons" color="primary" mat-icon-button
          [matTooltip]=" button.title " type="button" (click)="button.function(selection.selected)">
          <mat-icon>{{ button.icon }}</mat-icon>
        </button>
      </div>

      <div class="input-card" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
        fxLayoutAlign="start center">
        <mat-icon size="20px">search</mat-icon>
        <input class="input-search" [formControl]="searchCtrl" [placeholder]="'Pesquisar...'" type="search">
      </div>

      <span fxFlex></span>

      <button class="btn-table" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
        <mat-icon>search</mat-icon>
      </button>

      <button [matMenuTriggerFor]="columnFilterMenu" class="btn-table" fxFlex="none" mat-icon-button [matTooltip]="'Colunas'"
        type="button">
        <mat-icon>filter_list</mat-icon>
      </button>

      <button (click)="onCreate()" class="btn-table" color="primary" fxFlex="none" mat-mini-fab [matTooltip]="'Adicionar'"
        type="button">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="onRefresh()" class="btn-table" color="primary" fxFlex="none" mat-mini-fab [matTooltip]="'Atualizar'"
        type="button">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div *ngIf="dataSource.filteredData.length > 0">

      <table [dataSource]="dataSource" class="w-full" mat-table matSort (matSortChange)="sortChange($event)">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle($event) : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)" color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">

          <!-- Image Column -->
          <ng-container *ngIf="column.type === 'image'" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              <img [src]="row[column.property] || DEFAULT_AVATAR" class="avatar h-8 w-8 align-middle">
            </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container *ngIf="column.type === 'color'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell> {{ column.label }}</th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              <mat-icon [color]="row[column.property]">colorize</mat-icon>
            </td>
          </ng-container>

          <!-- Text Columns -->
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container *ngIf="column.type === 'actions'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td mat-cell *matCellDef="let element" class="right-align">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" (click)="$event.stopPropagation();">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item (click)="onActions(element)" *ngIf="isViewed">
                  <mat-icon class="fs-20">remove_red_eye</mat-icon>
                  <span class="fs-12">Detalhar</span>
                </button>

                <button mat-menu-item (click)="onActions(element)" *ngIf="isViewed">
                  <mat-icon class="fs-20">edit</mat-icon>
                  <span class="fs-12">Alterar</span>
                </button>

                <button mat-menu-item (click)="onActions(element)" *ngIf="isDeleted">
                  <mat-icon class="fs-20">delete</mat-icon>
                  <span class="fs-12">Excluir</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="onClickRow(row)" *matRowDef="let row; columns: visibleColumns;" @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>

      </table>
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length"
        class="sticky footer-paginator">
      </mat-paginator>

    </div>
    <div *ngIf="dataSource.filteredData.length == 0" class="w-full empty-list">
      <mat-icon style="margin-right: 20px;">cancel_presentation</mat-icon>
      NENHUM REGISTRO ENCONTRADO
    </div>
  </div>

</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>