<div fxFlex fxLayout="column">
    <app-header 
        [operation]="operation"
        [title]="title"
        [icon]="icon"
        [btn]="'Salvar'"
        [btnDisabled]="form.invalid ? true : false"
        (btnClick)="onSave()">
    </app-header>

    <mat-card fxFlex fxLayout="column" class="content-page-form">

        <div fxFlex fxLayout="row wrap" fxLayoutAlign="center" style="min-height: 130px;">
            <div *ngFor="let image of images; let index = index" style="max-width: 120px !important">
                <img class="image" width="100" [ngClass]="{'selected': image == imageSelected}" [src]="image" (click)="selectImage(image)">
            </div>
        </div>
        
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
            <app-input-text fxFlex="49" [formGroup]="form" formcontrolname="nome" [label]="'Nome'"></app-input-text>
            <app-input-text fxFlex="49" [formGroup]="form" formcontrolname="sobrenome" [label]="'Sobrenome'"></app-input-text>
        </div>
        
        <app-input-datepicker fxFlex [formGroup]="form" formcontrolname="dtNascimento" [label]="'Data de Nascimento'" [max]="dtToday"></app-input-datepicker>

        <app-input-text fxFlex [formGroup]="form" formcontrolname="celular" [label]="'Celular'" [placeholder]="'(99) 9 9999-9999'" [mask]="'(00) 0 0000-0000'"></app-input-text>

        
    </mat-card>
</div> 