.card {
    max-width: 400px;
    margin-top: 10px;
    height: auto;
}

.header-image {
    background-image: url('https://banner2.cleanpng.com/20180723/lho/kisspng-plastic-surgery-cosmetics-woman-face-skin-care-model-5b5605a8b02fd8.3457753715323642007217.jpg');
    background-size: cover;
}