<mat-form-field [formGroup]="formGroup" fxFlex="100" [appearance]="appearance ? appearance : appearance$ | async">

  <mat-label>{{ label }}</mat-label>

  <div fxLayout="row"> 
    <mat-date-range-input [rangePicker]="picker" [required]="checkRequired(formcontrolnameStart, formcontrolnameEnd)">
      <input matStartDate [formControlName]="formcontrolnameStart" [placeholder]="placeholderStart" [min]="minDate"
        autocomplete="off">
      <input matEndDate [formControlName]="formcontrolnameEnd" [placeholder]="placeholderEnd" [max]="maxDate"
        autocomplete="off">
    </mat-date-range-input>
  
    <mat-icon *ngIf="formGroup.get(formcontrolnameStart).value && clearOption" matTooltip="Limpar"
      matTooltipPosition="above" (click)="resetField()" class="icon">close</mat-icon>
  </div>

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error>
    <mat-error
      *ngIf="formGroup.get(formcontrolnameStart).hasError('required') || formGroup.get(formcontrolnameEnd).hasError('required')">
      Dados obrigatórios não informados</mat-error>
    <mat-error *ngIf="formGroup.get(formcontrolnameStart).hasError('matStartDateInvalid')">Data Inicial Inválida
    </mat-error>
    <mat-error *ngIf="formGroup.get(formcontrolnameEnd).hasError('matEndDateInvalid')">Data Final Inválida</mat-error>
  </mat-error>

</mat-form-field>