<div fxFlex fxLayout="column">
    <app-header 
        [operation]="operation"
        [title]="title"
        [icon]="icon"
        [backPage]="true"
        [btn]="'Salvar'"
        [btnDisabled]="form.invalid ? true : false"
        (btnClick)="onSave()">
    </app-header>

    <mat-card fxFlex fxLayout="column" class="content-page">

        <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-between">
            <app-input-text fxFlex="85" 
                [formGroup]="form" 
                [formcontrolname]="'descricao'" 
                [label]="'Descrição da Categoria'" 
                [maxLength]="'80'">
            </app-input-text>

            <app-input-toggle fxFlex 
                [formGroup]="form" 
                [formcontrolname]="'status'" 
                [label]="'Status'"
            ></app-input-toggle>
        </div>
        
    </mat-card>
</div>