@import "src/app/shared/@decorators/scss/breakpoints";

.content {
    margin: 25px 10px 0 10px;

    .card {
        margin: 10px 5px 10px 5px;
        margin-bottom: 5px;
        border: 0;
        border-radius: 6px;
        width: 100%;
        min-width: 150px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

        .chart-title {
            margin-bottom: 15px !important;
            max-height: 35px !important;
        }

        .card-header {
            border-radius: 3px;
            padding: 5px;
            margin: -50px 5px 5px 0px;
            float: left;
            height: 65px;

            .card-icon {
                color: white;
            }

            @include media-breakpoint('lt-sm') {
                height: 50px;
                width: 50px;
                text-align: center;
                padding-top: 13px;
            }

            @include media-breakpoint('gt-xs') {
                .card-icon {
                    font-size: 36px;
                    line-height: 56px;
                    width: 56px;
                    height: 56px;
                    text-align: center;
                }
            }

            @include media-breakpoint('lt-sm') {
                .card-icon {
                    margin-left: -2px;
                }
            }
        }

        .card-category {
            text-align: end;
            margin-top: -5px;
            font-weight: 300;

            @include media-breakpoint('lt-md') {
                text-align: center;
            }

            .card-title {
                color: #696969;
                margin: 0px;
                text-align: end;
            }

            .card-subtitle {
                position: absolute;
                bottom: 5px;
                font-size: 25px;
                margin: 0px;
            }

            .card-subtitle-hide {
                font-size: 20px;
                margin: 0px;
                margin-top: -10px;
            }

            .icon-visible {
                margin-top: 2px;
                cursor: pointer;
            }
        }

        .card-footer {
            border-top: 1px solid #eee;
            border-radius: 0;
            margin-top: 14px;

            .stats {
                color: #999;
                font-size: 12px;
                margin-top: 9px;
            }

            .footer-icon { 
                font-size: 16px;
            }

            @include media-breakpoint('lt-sm') {
                display: none;
            }
        }

    }

    .card-top {
        min-height: 95px;
        margin-top: 35px;
        margin-bottom: 10px;
    }
}

.card-neon-life {
    background: #3F51B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5967b8, #3F51B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5967b8, #3F51B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(69, 57, 182, 0.4);
}

.card-color-yellow {
    background: #fb8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d39e4e, #fb8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d39e4e, #fb8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4) !important;
}

.card-color-green {
    background: #43a047;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #63c067, #43a047);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #63c067, #43a047); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card-color-red {
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e4615f, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e4615f, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.card-color-blue {
    background: #00acc1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #26c6da, #00acc1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #26c6da, #00acc1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card-color-pinot-noir {
    background: #EC6F66;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e99273, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e99273, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(184, 148, 82, 0.4);
}

.card-color-purple {
    background: #9931B1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9752a7, #9931B1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9752a7, #9931B1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(96, 7, 104, 0.4);
} 

.card-color-orange {
    background: #bf5d2e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #75442d, #743214);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #75442d, #743214); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(96, 7, 104, 0.4);
}

mat-card-title {
    margin: 0 !important;
}

.chart {
    display: grid;

    .chart-align {
        justify-self: center !important
    }
}

::ng-deep .advanced-pie-legend .total-value {
    font-size: 36px !important;
    height: 30px !important;
}

::ng-deep .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color {
    float: left !important;
    height: 55px !important;
    margin-right: 7px !important;
    width: 4px !important;
}

::ng-deep .advanced-pie-legend .legend-items-container .legend-items {
    white-space: nowrap !important;
    height: 70px !important;
}

::ng-deep .advanced-pie-legend .legend-items-container .legend-items .legend-item {
    cursor: pointer !important;
    display: inline-block !important;
    margin-right: 20px !important;
    margin-top: 5px !important;

    .item-value {
        font-size: 24px !important;
        margin-left: 11px !important;
        margin-top: -6px !important;
        margin-bottom: 5px !important;
    }
}

::ng-deep .chart-legend .legend-labels {
    background: rgba(0,0,0,.05) !important;
    border-radius: 3px !important;
    float: left !important;
    line-height: 85% !important;
    list-style: none !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    text-align: left !important;
    white-space: nowrap !important;
    width: 100% !important;
    min-width: 95px !important;
}


.mat-nav-list .mat-list-item {
    cursor: pointer !important;
    outline: none !important;
    margin-top: 10px !important;
}