<div fxFlex fxLayout="column">
  <app-header [operation]="" (btnBackPage)="_dialog.close()" [title]="title" [icon]="icon" [backPage]="true" [btn]="'Salvar'"
    [btnDisabled]="form.invalid || !form.dirty ? true : false" (btnClick)="onSave()">
  </app-header>

  <mat-card fxFlex fxLayout="column" class="content-page-form">

    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <app-input-select fxFlex [formGroup]="form" formcontrolname="conta" label="Conta" [data]="(accounts$ | async)?.data"
        valueField="id" displayField="descricao" searchField="descricao"></app-input-select>

      <app-input-select fxFlex [formGroup]="form" formcontrolname="tipoMovimentacao" label="Tipo de movimentação"
        [data]="(movementTypes$ | async)?.data" valueField="id" displayField="descricao" searchField="descricao">
      </app-input-select>

      <app-input-datepicker fxFlex [formGroup]="form" [clearOption]="false" formcontrolname="dtConclusao"
        label="Selecione a data do pagamento">
      </app-input-datepicker>
    </div>

    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <app-input-currency fxFlex [formGroup]="form" formcontrolname="total"
        [label]="'Valor da ' + movementTypeParams.title"></app-input-currency>

      <app-input-datepicker fxFlex [formGroup]="form" [clearOption]="false" formcontrolname="dtConta"
        label="Selecione a data de vencimento">
      </app-input-datepicker>
    </div>

    <app-input-select fxFlex [formGroup]="form" formcontrolname="categoria" label="Selecione uma categoria"
      [data]="(categories$ | async)?.data" valueField="id" displayField="descricao" searchField="descricao">
    </app-input-select>

    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <app-input-select fxFlex [formGroup]="form" (select)="onChangeSelectRepetitionType($event?.value)"
        formcontrolname="tipoRepeticao" label="Tipo de repetição" [data]="repetitionType" valueField="id"
        displayField="descricao" searchField="descricao">
      </app-input-select>

      <app-input-number fxFlex [formGroup]="form" formcontrolname="repetir"
        label="Repetir lançamento de conta para os próximos meses (Informe a quantidade de vezes):" [min]="0">
      </app-input-number>
    </div>

  </mat-card>
</div>
