<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="center center">

    <!-- <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img width="160" src="assets/images/logo.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bem Vindo ao Sistema Financeiro!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
    </div> -->

    <div id="login-form-wrapper" [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <mat-card id="login-form">

            <div class="logo">
                <img width="200" src="assets/images/logo.png">
            </div>

            <div class="title">ENTRE EM SUA CONTA</div>

            <form name="form" [formGroup]="form" novalidate>
                <app-input-email [formGroup]="form" formcontrolname="email"></app-input-email>
                <app-input-password [formGroup]="form" formcontrolname="senha"></app-input-password>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
                    <a class="forgot-password" [routerLink]="'/esqueceu-senha'">Esqueceu a Senha?</a>
                </div>

                <button mat-raised-button color="primary" class="submit-button" aria-label="ENTRAR"
                    [disabled]="form.invalid" (click)="onLogin()">
                    ENTRAR
                </button>

                <div class="separator">
                    <span class="text">OU</span>
                </div>

                <div class="register" fxLayout="column">
                    <div class="register-question">Não tem uma conta?</div>
                    <a class="register-text" [routerLink]="'/cadastrar'">Crie a sua conta aqui</a>
                </div>
            </form>

        </mat-card>
        
    </div>

</div>