<div class="header" [ngStyle]="{ height: height }">
    <div fxFlex fxLayout="column" class="wrapper-header">
        <div fxFlex fxLayout="row" fxLayout.lt-sm="column" class="content">
            <ng-container>
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <button fxHide.xs *ngIf="backPage" mat-icon-button class="pointer" (click)="onBackPage()">
                        <mat-icon class="icon">arrow_back</mat-icon>
                    </button>
                </div>

                <div fxFlex fxFlex.xs="80" fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="center center">
                    <button fxHide.gt-xs *ngIf="backPage" mat-icon-button class="pointer" (click)="onBackPage()">
                        <mat-icon class="icon">arrow_back</mat-icon>
                    </button>

                    <mat-icon *ngIf="icon" class="icon icon-title" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">{{ icon }}</mat-icon>
                    <div class="title" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{ title }}</div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="center center">
                    <button color="accent" *ngIf="btn" class="btn pointer" [disabled]="btnDisabled" mat-stroked-button (click)="onClickBtn()">
                        <span>{{ btn }}</span>
                    </button>
                </div>
            </ng-container>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="center start" class="wrapper">
            <ng-content></ng-content>
        </div>
    </div>
</div>