<div fxFlex fxLayout="column" class="content">

    <app-header [backPage]="true" icon="schedule" title="Agendamento"></app-header>


    <mat-card fxFlex fxLayout="column" class="content-page">

        <div fxFlex fxLayoutAlign="center" class="filter">
            <app-input-datepicker fxFlex="250px" fxFlex.xs="100" 
            [formGroup]="formFilter" 
            [clearOption]="false"
            formcontrolname="date" 
            [min]="dtToday" 
            label="Selecione a Data de Agendamento" 
            appearance="outline">
            </app-input-datepicker>
        </div>
        <!-- <button mat-fab class="add-event-button mat-accent" (click)="addEvent()" aria-label="Add event"
            [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">
            <mat-icon>add</mat-icon>
        </button> -->
        <div class="content">
            <mwl-calendar-day-view fxFlex 
            [viewDate]="formFilter.value.date" 
            (viewDateChange)="selectedDay = { date:$event }"
            [events]="events" 
            [refresh]="refresh" 
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="editEvent('edit', $event.event)"  
            (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
    </mat-card>


</div>