<div [formGroup]="formGroup" class="wrapper" fxFlex="100" fxLayout="column">

    <mat-label class="label">{{ label }} {{ checkRequired() ? ' *' : '' }}</mat-label>
    <mat-slide-toggle (change)="changeValue.emit($event)" [formControlName]="formcontrolname" (change)="setValue($event)" color="primary">
        <!-- {{ formGroup?.get(formcontrolname).value ? 'Ativo' : 'Inativo' }} -->
    </mat-slide-toggle>

    <mat-error
        *ngIf="!formGroup?.get(formcontrolname).value && formGroup?.get(formcontrolname).touched && formGroup.touched">
        <app-errors [formcontrolname]="formcontrolname" [formGroup]="formGroup"></app-errors>
    </mat-error>

</div>
