<div fxFlex fxLayout="column">
  <app-header 
    [title]="title" 
    [icon]="icon"
    [btn]="'Adicionar'"
    (btnClick)="onAdd()">
  </app-header>
  
  <mat-card fxFlex fxLayout="column" class="content-page-form">

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let movie of movies, index as i" cdkDrag>
        <div>{{i+1}}</div>
        <div><i class="material-icons" cdkDragHandle>reorder</i></div>
        <div><mat-checkbox (change)="movie.isDisable = !movie.isDisable">Click and drop only through icon</mat-checkbox></div>
        <div><button mat-icon-button><i class="material-icons" (click)="delete(i)">delete_outline</i></button>
        </div>
      </div>
    </div>
    
  </mat-card>
</div>