<mat-form-field [formGroup]="formGroup" [appearance]="appearance ? appearance : appearance$ | async" fxFlex="100">

  <mat-label>{{ label }}</mat-label>

  <input matInput [mask]="mask" [formControlName]="formcontrolname" [required]="checkRequired()"
    [placeholder]="placeholder" (keyup)="onChange($event.target.value)" #input>

  <mat-icon *ngIf="iconName" matSuffix class="secondary-text">{{ iconName }}</mat-icon>

  <mat-hint align="end" *ngIf="maxLength">{{input.value?.length || 0}}/{{ maxLength }}</mat-hint>

  <mat-error>
    <app-errors [formcontrolname]="formcontrolname" [formGroup]="formGroup"></app-errors>
  </mat-error>

</mat-form-field>