@import "src/app/shared/@decorators/scss/breakpoints";

    #reset-password {
        width: 100%;
        height: 100%;
        overflow: auto;
        background: url('/assets/images/bg.jpg') no-repeat;
        background-size: cover;

        @include media-breakpoint('xs') {
            align-items: start !important;
            background: var(--background-base) !important;

            .mat-card:not([class*=mat-elevation-z]) {
                box-shadow: none;
            }
        }

        #reset-password-intro {
            padding: 128px;

            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }

            .logo {
                margin-bottom: 10px;
                text-align: center;
            }

            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
            }

            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
            }
        }

        #reset-password-form-wrapper {
            width: 500px;
            min-width: 500px;
            max-width: 500px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            // @include mat-elevation(16);

            @include media-breakpoint('xs') {
                height: 100%;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            #reset-password-form {
                padding: 2px 48px 48px 48px;
                background-color: var(--background-base);

                @include media-breakpoint('xs') {
                    height: auto;
                    text-align: center;
                    padding: 24px;
                }

                .logo {
                    margin: 10px auto;
                    text-align: center;
                }

                .title {
                    font-size: 18px;
                    text-align: center;
                }

                .description {
                    padding-top: 8px;
                }

                form {
                    width: 100%;
                    padding-top: 32px;

                    mat-form-field {
                        width: 100%;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }

                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;

                        color: white;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                }

                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;

                    .link {
                        color: rgba(var(--color-primary));
                    }
                    
                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
