<div id="calendar">

    <app-header [icon]="'event'" title="Calendário">
        <!-- <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
            <mat-button-toggle-group #group="matButtonToggleGroup" (change)="view = $event.value">
                <mat-button-toggle matTooltip="Visão Mês" value="month" checked><mat-icon>view_module</mat-icon></mat-button-toggle>
                <mat-button-toggle matTooltip="Visão Semana" value="week"><mat-icon>view_week</mat-icon></mat-button-toggle>
                <mat-button-toggle matTooltip="Visão Dia" value="day"><mat-icon>view_day</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div> -->
    </app-header>

    <mat-card fxFlex fxLayout="column" class="content-page2" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">

        <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px" fxLayoutAlign="center end" class="legend">
            <div fxLayout="row">
                <mat-icon style="color: #F44336; font-size: 20px;">stop_circle</mat-icon>
                <span class="info-title">Despesas</span>
            </div>
            <div fxLayout="row">
                <mat-icon style="color: #36f44c; font-size: 20px;">stop_circle</mat-icon>
                <span class="info-title">Receitas</span>
            </div>
        </div>

        <!-- <div *ngIf="view === 'day'" fxFlex fxLayoutAlign="center" class="filter">
            <app-input-datepicker fxFlex="250px" fxFlex.xs="100" 
            [formGroup]="formFilter" 
            [clearOption]="false"
            formcontrolname="date" 
            [min]="dtToday" 
            label="Selecione a Data de Agendamento" 
            appearance="outline">
            </app-input-datepicker>
        </div> -->

        <div fxFlex [ngSwitch]="view">
            <mwl-calendar-month-view 
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="editEvent($event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                (beforeViewRender)="beforeMonthViewRender($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                (viewDateChange)="selectedDay = {date:$event}"
                [events]="events"
                [refresh]="refresh"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="editEvent($event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [viewDate]="viewDate"
                (viewDateChange)="selectedDay = {date:$event}"
                [events]="events"
                [refresh]="refresh"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="editEvent($event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
    </mat-card>

</div>