<mat-form-field [formGroup]="formGroup" [appearance]="appearance ? appearance : appearance$ | async" fxFlex="100">

    <mat-label>{{label}}</mat-label>

    <input matInput type="password" [formControlName]="formcontrolname" [placeholder]="placeholder" #input
        autocomplete="off" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix class="icon" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    <mat-error *ngIf="formGroup.get(formcontrolname).hasError('required')">Dados obrigatórios não informados</mat-error>
    <mat-error *ngIf="formGroup.get(formcontrolname).hasError('minlength')">Senha deve conter no mínimo 8 caracteres
    </mat-error>
    <mat-error *ngIf="formGroup.get(formcontrolname).hasError('passwordsNotMatching')">As senhas devem corresponder
    </mat-error>

</mat-form-field>