<div class="container">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #nav class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [perfectScrollbar]>

            <div class="navbar-wrapper">
                <div class="navbar-brand">
                    <mat-icon>monetization_on</mat-icon>
                    <div class="title"><img style="margin-top: -12px" width="100" src="assets/images/logo2.png"></div>
                </div>
                <div>
                    <img class="logo" [src]="userProfile$ | async">
                </div>
                <div class="user-info"> 
                    <div class="name">
                        <h4>{{ user?.nome }} {{ user?.sobrenome }}</h4>
                    </div>
                    <div class="email">
                        <h5>{{ user?.email }}</h5>
                    </div>
                </div>
            </div>


            <div class="menu">
                <app-sidebar-item *ngFor="let item of items; trackBy: trackByRoute" [item]="item" [level]="0">
                </app-sidebar-item>
            </div>
        </mat-sidenav>

        <mat-sidenav-content [perfectScrollbar]> 
            <mat-toolbar class="toolbar">
                <button mat-icon-button (click)="nav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span fxFlex fxLayoutAlign="flex-end" class="user">
                    
                    <button fxFlex="none" mat-icon-button [matTooltip]="'Tela Cheia'"
                        type="button" (click)="fullScreenOpened ? closeFullscreen() : openFullScreen()">
                        <mat-icon>open_with</mat-icon> 
                    </button>

                    <button #menuUser mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>person</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onProfile()">
                            <mat-icon>account_circle</mat-icon>
                            <span>Perfil</span>
                        </button>
                        <button mat-menu-item (click)="onConfig()">
                            <mat-icon>settings</mat-icon>
                            <span>Configurações</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sair</span>
                        </button>
                    </mat-menu>
                </span>
            </mat-toolbar>

            <ng-content class="fullScreen">
            </ng-content>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>