<div class="container">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #nav class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'">

            <div class="navbar-wrapper">
                <div class="navbar-brand">
                    <mat-icon>monetization_on</mat-icon>
                    <div class="title">Financys</div>
                </div>
                <div>
                    <img class="logo" src="assets/images/profile.jpg">
                </div>
                <div class="user-info"> 
                    <div class="name">
                        <h4>Daniel Rosa</h4>
                    </div>
                    <div class="email">
                        <h5>danrsant14@gmail.com</h5>
                    </div>
                </div>
            </div>


            <div class="menu">
                <app-sidenav-item *ngFor="let item of items; trackBy: trackByRoute" [item]="item" [level]="0">
                </app-sidenav-item>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar class="toolbar">
                <button mat-icon-button (click)="nav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1>FINANÇAS</h1>
                <span class="user">
                    <button #menuUser mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon (click)="openUserOptions(menuUser)">person</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>people_outline</mat-icon>
                            <span>Teste</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>settings</mat-icon>
                            <span>Configurações</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sair</span>
                        </button>
                    </mat-menu>
                </span>
            </mat-toolbar>

            <ng-content>
            </ng-content>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>