<div class="container">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #nav class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'">

            <div class="navbar-wrapper">
                <div class="navbar-brand">AGENDA10</div>
            </div>

            <div class="menu">
                <app-sidenav-item *ngFor="let item of items; trackBy: trackByRoute" [item]="item" [level]="0">
                </app-sidenav-item>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar class="toolbar">
                <button mat-icon-button (click)="nav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1>FINANÇAS</h1>
                <span class="user">
                    <button #userTrigger="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon (mouseover)="openUserOptions(userTrigger)">person</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item>
                            <mat-icon>people_outline</mat-icon>
                            <span>Teste</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>settings</mat-icon>
                            <span>Configurações</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sair</span>
                        </button>
                    </mat-menu>
                </span>
            </mat-toolbar>
            <ng-content>
            </ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>