<div fxFlex fxLayout="column">

  <app-header [title]="title" [icon]="icon" [btn]="'Criar novo objetivo'" (btnClick)="onCreate()">
  </app-header>

  <div fxFlex fxLayout="row wrap" fxLayoutGap="15px" fxLayoutGap.xs="-15px" class="content-page-form">
    <mat-card *ngFor="let item of dataSource" (click)="onAdd(item?.id)" class="mb">
      <mat-card-content>
        <mat-card-title>{{ item?.descricao }}</mat-card-title>
        <mat-card-subtitle class="mt-5">Restam {{ item?.dias_restantes }} dias - {{ item?.dtconclusao | date: 'dd/MM/yyyy' }}
        </mat-card-subtitle>
        <mat-progress-bar mode="determinate" [value]="(item?.total_depositado * 100) / item?.total"></mat-progress-bar>
        <mat-card-subtitle class="mt-5">{{ item?.total_depositado | currency: 'BRL' }} de
          {{  item?.total | currency: 'BRL' }}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

</div>
