<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content *ngIf="form && form.controls">
    <div *ngFor="let field of fields">
        <!-- DATEPICKER -->
        <div *ngIf="field.type === 'datepicker'">
            <app-input-datepicker fxFlex [formGroup]="form" [formcontrolname]="field.formcontrolname"
                [label]="field.label">
            </app-input-datepicker>
        </div>

        <!-- SELECT -->
        <div *ngIf="field.type === 'select'">
            <app-input-select fxFlex [appearance]="'outline'" [formGroup]="form"
                [formcontrolname]="field.formcontrolname" [label]="field.label" [data]="field.select.data"
                [valueField]="field.select.valueField" [displayField]="field.select.displayField"
                [searchField]="field.select.searchField"></app-input-select>
        </div>

        <!-- NUMBER -->
        <div *ngIf="field.type === 'number'">
            <app-input-number fxFlex [formGroup]="form" [formcontrolname]="field.formcontrolname" [label]="field.label"
                [placeholder]="field.label" [min]="field.min" [max]="field.max">
            </app-input-number>
        </div>

        <!-- TEXT -->
        <div *ngIf="field.type === 'text'">
            <app-input-text fxFlex [formGroup]="form" [formcontrolname]="field.formcontrolname" [label]="field.label"
                [maxLength]="field.max">
            </app-input-text>
        </div>

        <!-- TOGGLE -->
        <div *ngIf="field.type === 'toggle'">
            <app-input-toggle fxFlex [formGroup]="form" [formcontrolname]="field.formcontrolname" [label]="field.label">
            </app-input-toggle>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="complete()" cdkFocusInitial>Concluir</button>
</mat-dialog-actions>