<ng-container *ngIf="isSubheading(item)"> 
  <div class="subheading">{{ item.label }}</div>
  <app-sidebar-item *ngFor="let subItem of item.children" [item]="subItem" [level]="0"></app-sidebar-item>
</ng-container>

<a class="item" fxLayout="row" *ngIf="isLink(item) && !isFunction(item.route)" [fragment]="item.fragment"
  [routerLinkActiveOptions]="item.routerLinkActiveOptions || { exact: false }" [routerLink]="item.route"
  routerLinkActive="active" matRipple>
  <span class="row-item">
    <mat-icon *ngIf="level === 0" class="item-icon" fxFlex="none">{{ item.icon }}</mat-icon>
    <span [ngClass]="{'align': level > 0 }" class="item-label" fxFlex="auto">{{ item.label }}</span>
    <span *ngIf="item.badge" [ngClass]="[item.badge.bgClass, item.badge.textClass]" class="item-badge"
      fxFlex="none">{{ item.badge.value }}</span>
  </span>
</a>

<ng-container *ngIf="isDropdown(item)">
  <div class="item" fxLayout="row" [class.active]="isOpen || isActive" [class.open]="isOpen" (click)="toggleOpen()"
    matRipple>
    <mat-icon *ngIf="level === 0" class="item-icon" fxFlex="none">{{ item.icon }}</mat-icon>
    <span class="item-label-dropdown" fxFlex="auto">{{ item.label }}</span>
    <span *ngIf="item.badge" [ngClass]="[item.badge.bgClass, item.badge.textClass]" class="item-badge"
      fxFlex="none">{{ item.badge.value }}</span>
    <mat-icon class="item-dropdown-icon" fxFlex="none">{{ icKeyboardArrowRight }}</mat-icon>
  </div>
  <div [@dropdown]="isOpen" class="item-dropdown">
    <app-sidebar-item *ngFor="let subItem of item.children" [item]="subItem" [level]="level + 1"></app-sidebar-item>
  </div>
</ng-container>

<div class="item" fxLayout="row" *ngIf="isLink(item) && isFunction(item.route)" routerLinkActive="active"
  (click)="item.route()" matRipple>
  <mat-icon *ngIf="level === 0" class="item-icon" fxFlex="none">{{ item.icon }}</mat-icon>
  <span class="item-label" fxFlex="auto">{{ item.label }}</span>
  <span *ngIf="item.badge" [ngClass]="[item.badge.bgClass, item.badge.textClass]" class="item-badge"
    fxFlex="none">{{ item.badge.value }}</span>
</div>