@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "themes";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-page {
    padding: 20px !important;
    border-radius: 4px;
    max-width: -webkit-fill-available !important;
    margin: -65px 25px 25px 25px;
    height: auto;
    z-index: 1;
}

.btn-color {
    background-color: #2D323E;
}

.purple {
    background-color: #673AB7 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(103, 58, 183, 0.4);
  }
  
  .blue {
    background-color: #2196F3 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 150, 243, 0.4);
  }
  
  .green {
    background-color: #009688 !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 150, 136, 0.4);
  }