@import "./assets/styles/core";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-page {
    padding: 20px !important;
    border-radius: 4px;
    max-width: -webkit-fill-available !important;
    margin: -65px 25px 25px 25px;
    height: auto;
    z-index: 1;
}

.btn-color {
    background-color: #2D323E;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}