@import "./assets/styles/core";
@import "./app/shared/@decorators/scss/breakpoints.scss";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-page {
    max-width: 100% !important;
    padding: 20px !important;
    padding-right: 10px !important;
    border-radius: 4px;
    margin: -65px 25px 25px 25px;
    height: auto;
    z-index: 1;

    @include media-breakpoint('lt-md') {
        margin: -65px -10px 25px -10px;
    }
}

.content-page-form {
    max-width: 100% !important;
    border-radius: 4px;
    margin: -45px 45px 25px 45px;
    height: auto;
    z-index: 1;

    @include media-breakpoint('lt-md') {
        margin: -45px 10px 25px 10px;     
    }
}

.btn-color {
    background-color: #2D323E;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}