@import "src/app/modules/auth/calendar/calendar.theme";

@import '~@angular/material/theming';
@include mat-core();

// ######################## TEMA ESCURO PADRAO ###############################
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.style-dark {
    @include angular-material-color($dark-theme);
    @include calendar-theme($dark-theme);
}